[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ari = "*"
aiohttp = "*"
websockets = "*"
openai = "*"
soundfile = "*"
pydub = "*"
pyyaml = "*"
python-dotenv = "*"
pysip = "*"
boto3 = "*"
paramiko = "*"
click = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
