[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ari = "*"
aiohttp = "*"
websockets = "*"
openai = "*"
soundfile = "*"
pydub = "*"
python-dotenv = "*"
pysip = "*"
boto3 = "*"
paramiko = "*"
click = "*"
pytest = "*"
scipy = "*"
pyyaml = "*"
numpy = "*"
faiss-cpu = "*"
sentence-transformers = "*"
huggingface-hub = {extras = ["hf_xet"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
